{% extends 'base.html' %}

{% block aside %}
    <div class="text-center">
        <img src="{{ MEDIA_URL}}{{request.user.pizzashop.logo}}" alt="" class="img-circle" width="50">
        <br>
        <h4>Hello, {{ request.user.get_fullname}}</h4>
        <h5>{{ request.pizzashop.name }}</h5>        
    </div>

    <div class="list-group">
        <span class="text-uppercase">
            <a href="{% url 'pizza' %}" class="list-group-item">Pizzas</a>
        </span>
        
        <span class="text-uppercase">
            <a href="{% url 'account' %}" class="list-group-item">Profile</a>
        </span>            
    </div>

    <div class="text-center">
        <a href="{% url 'sign_out' %}?next{{ request.path }}" class="btn btn-red">exit</a>
    </div>

{% endblock %}
