{% extends 'base_sign_app.html' %}
{% block title %}
    Login Page
{% endblock %}

{% block header %}
    <h1>Pizza shop Registration</h1>
{% endblock %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>User</legend>
            {{ user_form.as_p }}
        </fieldset>
        <fieldset>
                <legend>Pizza</legend>
            {{ pizza_shop_form.as_p}}
        </fieldset>
        
        <input type="submit" class="btn-red pull-right">
    </form>
{% endblock %}