{% extends 'base_sign_app.html' %}
{% load bootstrap4 %}
{% block title %}
    Login Page
{% endblock %}

{% block header %}
    <h1>Pizza shop Registration</h1>
{% endblock %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>User</legend>
            {% bootstrap_form user_form %}
        </fieldset>
        <fieldset>
            <legend>Pizza</legend>
            {% bootstrap_form pizza_shop_form %}
        </fieldset>
        
        <input type="submit" class="btn-red pull-right">
    </form>
    <a href="{% url 'sign_in' %}">Login</a>
{% endblock %}