*{
    background: white;
}

.bg-ruby{
    background: rgb(100,0,50);
}

.btn-red{
    color:white;
    background: red;
}

body{
    padding-top:50px;
    background: rgb(50,100,100);
    overflow: auto;
    min-height: 100vh;
}

.sidebar{
    height: 100vh;
    position: fixed;
    top:0;
    left:0;
    padding: 0;
    background: rgb(50,10,10);
    overflow: auto;
}
.sidebar_header{
    padding:30 10;
    font-weight: bold;
    font-size: 15px;
    background: rgb(100,55,55);
}

.sidebar .list-group {
    padding:0;
    background:#7b2324;
}

.sidebar .list_group > span{
    color :white;
    display: block;
    padding: 20 30;
    font-size:16px;
    font-weight: 300;
}

.sidebar .list-group{
    background: #8b2324;
    color:wheat;
    border:0;
    padding-left: 60px;
    padding-right: 30px;
    
}